---
import { siteConfig } from "../config/site";
---

<section class="about-section">
  <div class="about-content">
    <h2 class="about-title">{siteConfig.about.title}</h2>
    <p class="about-text">{siteConfig.about.text}</p>
  </div>
</section>

